<!DOCTYPE html>
<html>
    <head>
        <title>Benkyo - Learning Platform</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <%- include('partials/navbar') %> <%- body %> <%- include('partials/footer') %>
    </body>
</html>
