name: ci phase

on:
    pull_request:
        types: [opened, reopened, synchronize, ready_for_review]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '23'

            - name: Install Dependencies
              run: npm ci

            - name: Build benkyo-client
              run: |
                  npm run lint -w benkyo-client
                  npm run build -w benkyo-client

            - name: Build benkyo-server
              run: |
                  npm run lint -w benkyo-server
                  npm run build -w benkyo-server
